{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 80],
    "no-console": "off",
    "react/no-unused-state": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "import/order": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
